*{
    padding: 0;/* define para o navegador, que o espaçamento a ser utilizado na página é igual a zero*/
    margin: 0;/*define o valor 0 como margem para a página*/
    box-sizing: border-box;/*o espaçamento d padding conta para dentro da caixa*/
    font-family: Arial, Helvetica, sans-serif;/* define o tipo de fonte que será utilizada na página*/
}
header{ /*Configura o cabeçalho da página*/
    background-color: #3db36b;/*Altera a cor de fundo da área do cabeçalho*/
    color: aliceblue;/*Altera a cor da fonte*/
    padding: 15px;/*espaçamento entre o texto e as margens*/
    text-align: center;/*alinha o texto no centro da página*/
    border-bottom: #0f642f 3px solid;/*adiciona uma borda inferior com 3 pixels de espessura*/    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Grid de produtos*/
.container {
background-color: #eeeeee;/*muda a cor de fundo da seção container*/
min-height: 60vh;/*altura minima da seção deve ser de 60% da tela*/
padding: 50px;/* espaçamento de 50px nas margens*/
}

.product-container {
    max-width: 1200px;/*largura máxima da divisão Card*/
    margin: 0 auto;/*margem 0 na altura e centralizar o conteúdo na horizontal*/

}
.card {
    width: 31%; /*largura do card em 31% do tamanho definido no product-container*/
    display: inline-block;/*posiciona os cards em linha */
}

.product-image {
    height: 300px;/*Altura da imagem*/
    width: 100%;/*ocupar 100% do espaço disponível no card*/
    background-position: center;
    background-size: cover;
}
#img-1 {
    background-image: url(../imagens/tenis1.jpg);
}
#img-2 {
    background-image: url(../imagens/tenis2.jpg);
}
#img-3 {
    background-image: url(../imagens/tenis3.jpg);
}
#img-4 {
    background-image: url(../imagens/tenis4.jpg);
}
#img-5 {
    background-image: url(../imagens/tenis5.jpg);
}
#img-6 {
    background-image: url(../imagens/tenis6.jpg);
}

h3{
    margin-bottom: 10px;
    color: #3db36b;
    font-size: 24px;
}
.card p {
    margin-bottom: 10px;
}

.btn {
    display: block;/*exibir o conteúdo no formato de um bloco*/
    width: 100%; /*ocupar 100% do espaço disponível no card*/
    text-align: center;/* alinhar o texto no centro do espaço indicado pelo comando width*/
    text-transform: uppercase;/*Exibe o texto em letra maiúscula */
    text-decoration: none;/*Remove o sublinhado do texto */
    background-color: #3db36b;/*altera a cor de fundo do display block (botão) */
    color: aliceblue;/*Muda a cor da fonte do texto */
    padding: 15px; /*espaçamento de 15px ao redor do display block*/
    margin-bottom: 10px; /*Adiciona uma margem abaixo do botão de 10px */
    border-radius: 10px;/* Arredonda os cantos do botão */
}

.btn:hover { /*Altera o comportamento do botão quando o cursor do mouse estiver sobre ele */
    background-color: #0f642f; /*altera a cor de fundo do botão */

}

footer { /*altera as configurações do rodapé da página */
    background-color: #3db36b;/*altera a cor de fundo do rodapé */
    text-align: center;/*Centraliza o texto do rodapé*/
    padding: 80px;/*Adiciona um espaçamento ao redor do rodapé*/
    color: aliceblue;/*Altera a cor da fonte*/

}